*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(49, 49, 49);
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(139, 51, 0);
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}


.logo{
    color: rgb(233, 233, 233);
    padding-left: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}
.logo, a:visited{
    color: rgb(233, 233, 233);
}
.logo, a:hover{
    color: rgb(0, 0, 0);
    transition: all 0.5s ease 0s;
}


.nav-links{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-around;
    width: 50%;
    z-index: 99999;
}
.nav-links, li a:visited{
    color: rgb(233, 233, 233);
}
.nav-links, li a:hover{
    color: rgb(0, 0, 0);
    transition: all 0.5s ease 0s;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(233, 233, 233);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: bold;
}


.contact{
    color: rgb(233, 233, 233);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: bold;
}
.contact:visited{
    color: rgb(233, 233, 233);
}
.contact:hover{
    color: rgb(0, 0, 0);
    transition: all 0.5s ease 0s;
}


.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(233, 233, 233);
    margin: 5px;
    transition: all 0.4s ease;
}



.container {
    margin: 0 auto;
    position: relative;
    color:rgb(233, 233, 233);
    text-align: center;
    flex-direction: column;
    background-color:rgb(0, 0, 0);
}

.container h1{
    font-size: 60px;
    font-family: 'Lora', serif;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 3px;;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h3{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resume{
    color: rgb(255, 94, 0);
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
    outline-style: solid;
    outline-color: rgba(255, 94, 0, 0.5);
    outline-width: 3px;
    outline-offset: 5px;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container, h1 a:hover{
    color: rgb(233, 233, 233);
}
.container, h3 a:hover{
    color: rgb(233, 233, 233);
}
.resume:hover{
    color:rgba(255, 94, 0, 0.5);
}

.bg-image {
    width: 100%;
    padding-top: 62.5%;
    background-image: url('background.jpg');
    background-size: contain;
}


@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 750px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(139, 51, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 99999;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links a{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
    .burger{
        display: block;
    }

    .container h1{
        font-size: 20px;
        font-family: 'Lora', serif;
        text-decoration: none;
        font-weight: 200;
        letter-spacing: 3px;;
    }

    .container h3{
        font-size: 10px;
        font-family: 'Playfair Display', serif;
        text-decoration: none;
        font-weight: 200;
        letter-spacing: 3px;;
    }


}

.nav-active{
    transform: translateX(0%);
}
.contact-active{
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}